body{
    font-family: 'Poppins', sans-serif;
    margin: none;
}
h1{
    font-size: 50px;
    padding-left: 1%;
}
h2{
  font-size: 40px;
}
p{
  font-size: 30px;
}
.orange-color{
    color: rgb(238, 182, 79);
}
#sidebar{
    border-left: 7px solid red;
    margin-left: 3%;
}
p {
    font-size: medium;
  }
  .link-button{
      background-color: tomato;
      padding: 10px 40px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border-radius: 5px;
  }
  .position{
    margin-left: 45px;
  }
  #scroll{
    margin-left: 250px;
  }
  .flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 100px;
  }
  .half-width{
      width: 50%;
      padding-left: 5px;
  }
  .half-width img{
    width: 80%;
  }
  #focused-position{
    margin-top: 100px;
  }
#place{
  text-align: center;
}
#mission{
  background-color: paleturquoise;
  width: 400px;
  height: 400px;
  padding: 30px 30px;
  background-repeat: no-repeat;
}
#mission img{
  width: 200px;
}
#vision{
  background-color: plum;
  width: 400px;
  height: 400px;
  padding: 30px 30px;
  background-repeat: no-repeat;
}
#vision img{
  width: 200px;
}
#goal{
  background-color: bisque;
  width: 400px;
  height: 400px;
  padding: 30px 30px;
  background-repeat: no-repeat;
}
#goal img{
  width: 200px;
}
.share{
  max-width: 25%;
  float: center;
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
}
.limits{
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 450px;


}
.global-community{
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 450px;

}
#position1-div{
  display:inline-block;
  padding-left:50px;
  margin-left:100px;
 
}
#position2-div{
  display:inline-block;
  padding-left:50px;
  margin-left:50px;
  margin-right: 100px;
}
footer{
  background-color:black;
  text-align: center;
  font-family: 'Luxurious Roman', cursive;
  font-size: small;
  color: white;
  font-weight: bolder;
}
#question{
  text-align: center;
}
#form{
  background-color: cyan;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  box-shadow: 10px 10px 40px gray;
  width: 100%;
  padding-left: 100px;
  padding-top: 50px;
  margin-left: 200px;
}
#question-image{
  width: 110%;
}
#name{
  margin-left: 12px;
  height: 30px;
  width: 300px;
}
#mail{
  margin-left: 15px;
  height: 30px;
  width: 305px;
}
#subject{
  margin-left: 0px;
  height: 200px;
  width: 400px;
}